.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  padding: 20px 0;
  width: 80%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

td {
  height: 100px;
  padding: 10px;
}